In [2]:
import numpy as np   #This imports all the packages I will need to finsish my project
import math as mat
import scipy as sp
import pandas as pd
import matplotlib as mp

In [3]:
df = pd.read_csv('meteorite-landings.csv') 
df.head(15)

        mass    year  landing latitude
0       21.0  1880.0          50.77500
1      720.0  1951.0          56.18333
2   107000.0  1952.0          54.21667
3     1914.0  1976.0          16.88333
4      780.0  1902.0         -33.16667
5     4239.0  1919.0          32.10000
6      910.0  1949.0          44.83333
7    30000.0  1814.0          44.21667
8     1620.0  1930.0         -31.60000
9     1440.0  1920.0         -30.86667
10    1000.0  1974.0          16.39806
11   24000.0  1925.0          19.08333
12       NaN  1769.0          50.66667
13     779.0  1949.0          29.51667
14    1800.0  1838.0          29.71667

In [5]:
df.describe(include = 'all')

               mass          year  landing latitude
count  4.558500e+04  45428.000000      38401.000000
mean   1.327808e+04   1991.772189        -39.122580
std    5.749889e+05     27.181247         46.378511
min    0.000000e+00    301.000000        -87.366670
25%    7.200000e+00   1987.000000        -76.714240
50%    3.260000e+01   1998.000000        -71.500000
75%    2.026000e+02   2003.000000          0.000000
max    6.000000e+07   2501.000000         81.166670