In [99]:
import numpy as np   #This imports all the packages I will need to finsish my project
import math as mat
import scipy as sp
import pandas as pd
import matplotlib as mp

In [117]:
df = pd.read_csv('meteorite-landings.csv') #making sure the csv is being read by the program correctly
df.head(5)

       mass  year    reclat    reclong
0      21.0  1880  50.77500    6.08333
1     720.0  1951  56.18333   10.23333
2  107000.0  1952  54.21667 -113.00000
3    1914.0  1976  16.88333  -99.90000
4     780.0  1902 -33.16667  -64.95000

In [101]:
df = df.drop(labels = ['id','name','nametype','GeoLocation','recclass','fall'], axis = 1) #here I am getting rid of columns of data that I will not be using in the project
filepath = '.\meteorite-landings.csv'
df.to_csv(filepath)

In [102]:
df = df.dropna(subset = ['mass','reclat','reclong','year'], axis = 0) #getting rid of rows where information is missing in essential columns
filepath = '.\meteorite-landings.csv'
df.to_csv(filepath)

In [103]:
df = df[df['mass'] != 0] #getting rid of any rows with 0 as an input for mass
filepath = '.\meteorite-landings.csv'
df.to_csv(filepath)

In [106]:
df = df[df['reclat'] + df['reclong'] != 0] #getting rid of any rows where both latitude and longitude are 0 (this corresponds to a spot in the ocean off the coast of Africa)
filepath = '.\meteorite-landings.csv'
df.to_csv(filepath)

In [109]:
df = df[(df['year'] >= 800) & (df['year'] <= 2016)] #getting rid of rows with misinputs for the fall date (years before 800 and after 2016)
filepath = '.\meteorite-landings.csv'
df.to_csv(filepath)

In [118]:
df.describe()  #some statistics regarding my data (mass is in grams)

               mass          year        reclat       reclong
count  3.191100e+04  31911.000000  31911.000000  31911.000000
mean   1.855334e+04   1986.983611    -47.325541     73.217418
std    6.870431e+05     26.723522     46.668084     83.196982
min    1.000000e-02    860.000000    -87.366670   -165.433330
25%    6.500000e+00   1982.000000    -79.683330     26.000000
50%    2.968000e+01   1991.000000    -72.000000     56.837750
75%    2.021050e+02   2000.000000     18.321420    159.394165
max    6.000000e+07   2013.000000     81.166670    178.200000