In [30]:
import numpy as np   #This imports all the packages I will need to finsish my project
import math as mat
import scipy as sp
import pandas as pd
import matplotlib as mp

In [31]:
df = pd.read_csv('meteorite-landings.csv') #making sure the csv is being read by the program correctly
df.head(5)

   Unnamed: 0      mass  fall    year    reclat    reclong
0           0      21.0  Fell  1880.0  50.77500    6.08333
1           1     720.0  Fell  1951.0  56.18333   10.23333
2           2  107000.0  Fell  1952.0  54.21667 -113.00000
3           3    1914.0  Fell  1976.0  16.88333  -99.90000
4           4     780.0  Fell  1902.0 -33.16667  -64.95000

In [32]:
elim_col = df.drop(labels = ['id','name','nametype','GeoLocation','recclass'], axis = 1) #here I am getting rid of columns of data that I will not be using in the project
filepath = '.\meteorite-landings.csv'
elim_col.to_csv(filepath)

KeyError: "['id' 'name' 'nametype' 'GeoLocation' 'recclass'] not found in axis"

In [35]:
elim_row = df.dropna(subset = ['mass','reclat','reclong'], axis = 0)
filepath = '.\meteorite-landings.csv'
elim_row.to_csv(filepath)

In [37]:
df.tail()

       Unnamed: 0    mass   fall    year    reclat    reclong
38277       45711   172.0  Found  1990.0  29.03700   17.01850
38278       45712    46.0  Found  1999.0  13.78333    8.96667
38279       45713     3.3  Found  1939.0  49.25000   17.66667
38280       45714  2167.0  Found  2003.0  49.78917   41.50460
38281       45715   200.0  Found  1976.0  33.98333 -115.68333

In [38]:
df.describe(include = 'all')

,Unnamed: 0,mass,fall,year,reclat,reclong
count,38282.000000,3.828200e+04,38282,38116.000000,38282.000000,38282.000000
unique,NaN,NaN,2,NaN,NaN,NaN
top,NaN,NaN,Found,NaN,NaN,NaN
freq,NaN,NaN,37217,NaN,NaN,NaN
mean,22425.570425,1.558098e+04,NaN,1989.957472,-39.352325,61.186563
std,13893.359527,6.273203e+05,NaN,26.444565,46.232642,80.671236
min,0.000000,0.000000e+00,NaN,601.000000,-87.366670,-165.433330
25%,9874.250000,6.700000e+00,NaN,1986.000000,-76.716670,0.000000
50%,21629.500000,2.934500e+01,NaN,1996.000000,-71.500000,35.666670
75%,35020.750000,1.891750e+02,NaN,2002.000000,0.000000,157.166670
max,45715.000000,6.000000e+07,NaN,2101.000000,81.166670,178.200000